@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --text: #6c6b6b;
    --background: #eaeaea;
    --highlight: #f9d949;
    --alternateText: #08d9d6;
    --appBackground: #252a34;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Element selectors */

img {
    display: block;
}

small {
    color: #6c6b6b;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.75rem;
    color: black;
    margin-bottom: 2em;
}

main {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

sup {
    font-size: 2rem;
    font-weight: 400;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

li {
    color: var(--text);
    width: 200px;
}

/* Class Selectors */

.app {
    padding: 2em;
    height: 800px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.big-number {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1;
}

.temp-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
}

.feels-like {
    margin-right: 1rem;
    font-size: smaller;
    font-weight: 400;
    color: var(--text);
}

.util {
    border: 1px dotted red;
}

.name {
    color: var(--text);
    margin-bottom: 3rem;
}

.wind-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.arrow {
    transform-origin: 50% 50%;
    transform: rotate(90deg) scale(0.4);
}

.icon {
    transform: scale(1.5);
}

.search-div {
    position: relative;
    width: 12rem;
    margin: 1rem 1rem 0 auto;
    align-self: flex-start;
}

.search-bar {
    height: 2rem;
    background-color: transparent;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding-left: 1rem;
    position: relative;
    z-index: 2;
    transition: all 0.5s;
}

.search-bar:focus {
    box-shadow: 0 0 5px #9ba5b7;
    outline: none;
}

.suggestions {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    left: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
    position: absolute;
    text-align: left;
    top: 2.6rem;
    width: 98%;
    z-index: 1;
    z-index: 1;
    transition: all .5s;
}

.query-item {
    line-height: 1.5;
    height: 1.3rem;
    padding-left: 0.5rem;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 0.2rem;
    transition: background-color 0.1s ease-in-out;
}

.query-item:hover {
    border-radius: 10px;
    background-color: #c4c4c4;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: trasnparent;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
