@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --text: #FF2E63;
    --background: #EAEAEA;
    --highlight: #F9D949;
    --alternateText: #08D9D6;
    --appBackground: #252A34;
}

* {
    margin: 0;
    box-sizing: border-box;
}

